@font-face {
    font-family: 'new_spiritsemibold';
    src: url('new_spirit_semibold-webfont.woff2') format('woff2'),
         url('new_spirit_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}